---
layout: default
---

<article class="h-entry post-entry">
  {% include page-image.html %}

  <div class="page-wrapper">
    <header class="page-header post-header">
      {% assign title = page.title | markdownify | strip_html %}

      {% if page.link %}
        <h1 id="page-title" class="page-title p-name">
          <a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a>
        </h1>
      {% else %}
        <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
      {% endif %}

      <p class="page-date">
        {{ page.date | date: "%d %B %Y" }}
      </p>
    </header>

    <div class="page-content">
      <div class="e-content poem-content">
        {{ content }}
      </div>

      <hr>

      {% include post-tags.html %}

      <hr>

      {% include share-links.html %}

      {% include page-pagination.html %}
    </div>
  </div>
</article>
